SECRET_KEY=
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=textile_user
MYSQL_PASSWORD=
MYSQL_DATABASE=textile_quality_db
CAMERA_INDEX=0
CAMERA_IP=192.168.0.8
CAMERA_USER=admin
CAMERA_PASSWORD=
CAMERA_RTSP_PORT=554
CAMERA_CHANNEL=1
CAMERA_SUBTYPE=0
CAMERA_WIDTH=2688
CAMERA_HEIGHT=1520
CAMERA_FPS=15
PATCHCORE_CKPT=
PATCHCORE_PIXEL_THRESHOLD=0.72
PATCHCORE_MAX_BOX_RATIO=
ROI_X1=0.16
ROI_Y1=0.05
ROI_X2=0.84
ROI_Y2=0.88
MYSQL_ROOT_PASSWORD=
AI_ARTIFACTS_ROOT=
